/* You can add global styles to this file, and also import other style files */
$blue: #3A63F3;
$light-blue: #ECF0FD;
$background-color: #F7F9FA;

body {
  background-color: $background-color !important;

  p {
    margin: 0;
    padding: 0;
  }
}

.ngx-pagination {
  text-align: center;
  margin: 15px 0;

  .current {
    background: $blue !important;
    border-radius: 5px;
  }

  li {
    a {
      border-radius: 5px;

      &:hover {
        background: $light-blue !important;
      }
    }
  }
}
